$color-primary-50: #E5FAF0;
$color-primary-100: #D4F7E6;
$color-primary-200: #ADEDD1;
$color-primary-300: #77DEB7;
$color-primary-400: #40C798;
$color-primary-500: #1DAC80;
$color-primary-600: #108B67;
$color-primary-700: #0D6F55;
$color-primary-800: #0D5844;
$color-primary-900: #0B4939;
$color-primary-950: #052921;

$color-neutral-0: #FFFFFF;
$color-neutral-50: #F7F8F7;
$color-neutral-100: #EEEEEE;
$color-neutral-200: #e3e3e3;
$color-neutral-250: #D4D4D4;
$color-neutral-300: #B0B0B0;
$color-neutral-400: #888888;
$color-neutral-500: #6D6D6D;
$color-neutral-600: #5D5D5D;
$color-neutral-700: #4F4F4F;
$color-neutral-800: #474747;
$color-neutral-900: #3D3D3D;
$color-neutral-950: #262626;

$color-info-50: #F3F7FC;
$color-info-100: #E7EFF7;
$color-info-200: #C9DDEE;
$color-info-300: #99C1E0;
$color-info-400: #62A1CE;
$color-info-500: #4E92C4;
$color-info-600: #2D699C;
$color-info-700: #25557F;
$color-info-800: #22496A;
$color-info-900: #213E59;
$color-info-950: #16283B;

$color-positive-50: #F0F9F4;
$color-positive-100: #DBF0E2;
$color-positive-200: #BAE0C9;
$color-positive-300: #8DC8A9;
$color-positive-400: #57A880;
$color-positive-500: #3B8E68;
$color-positive-600: #2A7152;
$color-positive-700: #215B43;
$color-positive-800: #1D4836;
$color-positive-900: #183C2D;
$color-positive-950: #0D2119;

$color-warning-50: #FDF7ED;
$color-warning-100: #F9E8CC;
$color-warning-200: #F2CF95;
$color-warning-300: #ECB05D;
$color-warning-400: #E89B42;
$color-warning-500: #DF7521;
$color-warning-600: #C5561A;
$color-warning-700: #A43B19;
$color-warning-800: #862F1A;
$color-warning-900: #6E2819;
$color-warning-950: #3F1209;

$color-negative-50: #FCF4F4;
$color-negative-100: #FAE6E6;
$color-negative-200: #F7D1D1;
$color-negative-300: #F0B1B1;
$color-negative-400: #E68383;
$color-negative-500: #D65252;
$color-negative-600: #C43E3E;
$color-negative-700: #A43131;
$color-negative-800: #882C2C;
$color-negative-900: #722A2A;
$color-negative-950: #3D1212;

$color-black-alpha-400: #0000005E;
$color-black-alpha-500: #0000008C;
$color-black-alpha-600: #000000AD;