.popover-design-overlay {
  &.ant-popover-placement-bottom,
  &.ant-popover-placement-bottomLeft,
  &.ant-popover-placement-bottomRight {
    padding: 4px;
  }

  .ant-popover-content {
    .ant-popover-arrow {
      display: none;
    }

    .ant-popover-inner {
      border: unset;
      box-shadow: var(--box-shadow);
      overflow: hidden;
      border-radius: var(--round-common);
      .ant-popover-inner-content {
        padding: 8px;
        max-height: var(--max-height, unset);
        overflow-y: auto;
      }
    }
  }

  &.use-arrow {
    .ant-popover-content {
      .ant-popover-arrow {
        display: block;
        width: 10.485281px;
        height: 10.485281px;
      }
    }

    &.ant-popover-placement-bottom .ant-popover-arrow,
    &.ant-popover-placement-bottomLeft .ant-popover-arrow,
    &.ant-popover-placement-bottomRight .ant-popover-arrow {
      top: -6.485281px;
    }
  }
}
